---
const { title, subtitle, image, link } = Astro.props;
---

<div class="card card-side border-2 bg-black border-[#661659] hover:border-fuchsia-500 hover:border-2">
  <figure>
    <img src={image} class="h-[200px] w-[200px] p-8" alt="Movie" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-bold text-xl dark:text-white">
      {title}
    </h2>
    <p class="text-base dark:text-white">{subtitle}</p>
    <div class="card-actions justify-end">
      <a class="btn bg-fuchsia-500 border-0" href={link}
        >Visit Now</a
      >
    </div>
  </div>
</div>
