---
---

<div class="bg-base-100 shadow-md p-4">
  <div
    class="flex flex-row justify-between items-center max-w-7xl mx-auto px-4"
  >
    <img
      src="/image/Asset 17.png"
      class="h-[50px] w-[100px] object-contain"
      alt="Movie"
    />
    <button class="btn bg-black border-0">Contact Us</button>
  </div>
</div>
